body{
    background-color: black;
    display: flex;
    flex-flow: column wrap;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;

}

#digite, .numerodigitado{
    color: white;
}

#selecao{
background-color: white;
color: black;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
border: 1px solid transparent;
border-radius: 15px;

}

#pcima{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 150px;
    width: 400px;
}

.dois{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.p{
    font-size: 12px;
}
.number{
    width: 60px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#pbaixo{
 margin-bottom: 50px;

}

#botao{
    color: white;
    background-color: black;
    width: 250px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
}

#mostrar{
background-color: white;
color: black;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
border: 1px solid transparent;
border-radius: 15px;
width: 400px;
padding: 10px;
}

#informe{
    font-size: 20px;
    text-align: center;
}
tr{
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    text-align: center;
}

table{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#botaoDois{
    color: white;
    background-color: black;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
